/* color
#e8ffff
#a6f6f1
#41aea9
#213e3b */

/* color
#1b262c
#0f4c75
#3282b8
#bbe1fa
*/










/* ---------------------------TOP CONTAINER------------------------------------- */

body{
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}


h1{
    color: #66BFBF;
    line-height: 3;
}

h2{
    /* color: #66BFBF; */
    color: #0f4c75;
    padding-bottom: 10px;
}

h3{
    /* color: #11999E; */
    color: #3282b8;
}

p{
    color: #40514E;
    line-height: 2;
}

hr{
    border: dotted  #bbe1fa 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}


.top-container{
    background-color: #bbe1fa;
    position: relative;
    padding-top: 100px;
}




.myName{
    font-family: 'Bebas Neue', cursive;
    letter-spacing:20px;
    color: #1b262c;
}

.introduction-yay{
    font-family: 'Lobster Two', cursive;
    font-weight: normal;
    line-height: 2;
    letter-spacing: 2px;
    color: #1b262c;
}

.texting{
    /* background-color: purple; */
    width: 35%;
    margin: 0 auto 0 auto;
    font-size: 20px;
}

.dream{
    text-decoration: underline;
}


.top-cloud{
    position: absolute;
    right:200px;
    top: 40px;
    /* background-color: red; */
}

.bottom-cloud{
    position: absolute;
    bottom: 480px;
    left: 150px;
    /* background-color: royalblue; */
}

.city{
    /* background-color: salmon; */
    width:100%;
    padding-top: 120px;
}








/* ---------------------------MIDDLE CONTAINER------------------------------------- */
.middle-container{
    margin: 100px 0;
}


.intro{
    width: 35%;
    margin: auto;
    line-height: 2;
}

.skill-row{
    width: 50%;
    /* background-color: rgb(28, 255, 20); */
    margin: 100px auto;
    text-align: left;
}

.codeGirl{
    width: 40%;
    float: left;
    margin-right: 30px;
}


.baby-geek{
    width: 40%;
    float: right;
    margin-left: 30px;
}

.imageBaby{
    margin-top: 200px;
}



.btn {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    height: 50px;
    line-height: 50px;
    color: #0f4c75;
    font-family: 'Montserrat', sans-serif;
    width: 200px;
    font-size: 23px;
    font-weight: 100;
    padding: 6px;
    background-color: #bbe1fa;
    border: solid #337FED 0;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    border: solid #0f4c75 0;
    background: #0f4c75;
    background-image: -webkit-linear-gradient(top, #0f4c75, #0f4c75);
    background-image: -moz-linear-gradient(top, #0f4c75, #0f4c75);
    background-image: -ms-linear-gradient(top, #0f4c75, #0f4c75);
    background-image: -o-linear-gradient(top, #0f4c75, #0f4c75);
    background-image: -webkit-gradient(to bottom, #0f4c75, #0f4c75);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    text-decoration: none;
 }





/* ---------------------------BOTTOM CONTAINER------------------------------------- */
a{
    color: #0f4c75;
    margin: 10px 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

a:hover{
    color: #EAF6F6;
}

.bottom-container{
    background-color: #bbe1fa;
    padding: 50px 0 20px;
}

.contact-message{
    width: 35%;
    margin: 40px auto 60px;
}



.copyright{
    color: #1b262c;
    font-size: 0.75rem;
    margin: 20px 0;
    
    font-weight: bold;
    letter-spacing: 3px;
}

.twenty{
    padding-right: 7px;
}



